<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>$Http service</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <!-- <script>
      var app = angular.module("serviceApp", []);
      app.controller("serviceCtrl", function ($scope, $http) {
        $http({
          method: "GET",
          url: "src/index.html",
        }).then(
          function success(response) {
            // this function will be called when request is success
            $scope.entry = response.data;
            $scope.statusval = response.status;
            $scope.statustext = response.statusTex;
            $scope.headers = response.headers();
          },
          function error(response) {
            // this function will be called when the request returned an error.
          }
        );
      });
    </script> -->
  </head>

  <body>
    <h1>
      $http service is used to communicate with the remote http servers over the
      browser with the help of XMLHttpRequest.
    </h1>

    <!-- <div ng-app="serviceApp" ng-controller="serviceCtrl">
      <h1 style="color: red">{{ entry }}</h1>
      <h1>Status Code :{{ statusval }}</h1>
      <h1>Status Text : {{ statustext }}</h1>
      <h1>Response headers : {{ headers }}</h1>
    </div> -->

    <div ng-app="locationApp" ng-controller="locCtrl">
      <h2>url : {{ pageurl }}</h2>
      <h2>Host : {{ pagehost }}</h2>
      <h2>port : {{ pageport }}</h2>
    </div>
    <script>
      var app = angular.module("locationApp", []);
      app.controller("locCtrl", function ($scope, $location) {
        $scope.pageurl = $location.absUrl();
        $scope.pagehost = $location.host();
        $scope.pageport = $location.port();
      });
    </script>
  </body>
</html>
